* { box-sizing: border-box; }

body {
  font-family: 'Barlow', sans-serif;
}

h1, h2 {
  font-family: 'Bungee', cursive;
}

.card {
  background-color: #f1f2f2;
  padding: 50px;
  margin: 50px;
  border-radius: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px;
}

.card-content {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.next-btn {
  width: 200px;
  border-radius: 6px;
  padding: 8px;
  margin-top: 40px;
  background-color: #84c27e;
  color: black;
  border-color: #84c27e;
  font-family: 'Barlow', sans-serif;
  font-size: large;
}

.next-btn:hover {
  background-color: black;
  border-color: black;
  color: white;
}

/* ---- isotope ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  display: block;
}

.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}

/* color-shape */

.color-shape {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
}

.color-shape.round {
  border-radius: 35px;
}

.color-shape.big.round {
  border-radius: 75px;
}

.color-shape.red { background: red; }
.color-shape.blue { background: blue; }
.color-shape.yellow { background: yellow; }

.color-shape.wide, .color-shape.big { width: 150px; }
.color-shape.tall, .color-shape.big { height: 150px; }
