@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Barlow', sans-serif;
  align-items: center;
  padding: 20px;
}

div .item {
  display: none;
}

#filter-display {
  font-size: 18px;
  padding: 0.5em;
  border: 1px solid #CCC;
  color: blue;
}

.card {
  background-color: #f1f2f2;
  padding: 50px;
  border-radius: 20px;
  max-width: 900px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.designer {
  padding: 10px;
}

.ks-cboxtags {
    list-style: none;
    border: none;
    background-color: inherit;
}

.label {
    display: inline-block;
    width: 200px;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 9px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.label {
    padding: 8px 12px;
    cursor: pointer;
}

.label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    transition: transform .3s ease-in-out;
}

/*
ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

*/

.ks-cboxtags input[type="checkbox"]:checked + .label {
    border: 2px solid green;
    background-color: green;
    color: #fff;
    transition: all .2s;
}

/*
ul.ks-cboxtags li input[type="checkbox"] {
  display: inline;
}
*/

.ks-cboxtags input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.ks-cboxtags input[type="checkbox"]:focus + .label {
  border: 2px solid aqua;
}

/* End of other CSS */

.next-btn {
  width: 200px;
  border-radius: 6px;
  padding: 8px;
  margin-top: 40px;
  background-color: #84c27e;
  color: black;
  border-color: #84c27e;
  font-family: 'Barlow', sans-serif;
  font-size: large;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.next-btn:hover {
  background-color: black;
  border-color: black;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
}
